Question 1:

In [ ]:
a=0
def b():
    global a
    a = c(a)
    print(a)

def c(a):
    return a + 2
b()
b()
b()
print(" the value of a is : ",a)


As we declare variable a as global , its value is zero intitially. When function c(a) is called it returns the output as 2(0+2). when function b() is called local variable'a' is assigned to the value of c(a), i.e, 2.

And now the value of a =2. and the same process continues. 
When we print the value of a(local variable) it is now updated to 6 after three functional calls

QUESTION : 2

In [ ]:

def file_length(file):
    try: 
        file = open('Globalization.txt','r')
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("file do not exist")
    except NameError:
        print("file do not exist")
   

file_length(file)

QUESTION : 3

In [ ]:
class Marsupial():
    def __init__(self):
        self.lst=[]
    def put_in_pouch(self,xx):
        self.lst.append(xx)        
    def pouch_contents(self):
        return self.lst
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self, dx,dy):
        self.x +=dx
        self.y +=dy
        
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))
  
k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

QUESTION 4:

In [ ]:
def Collatz(n):
    if n==1:
        print(n)
    elif  n%2==0:
        print(n)
        Collatz(n//2)
    elif n%2!=0:
        print(n)
        Collatz((3*n)+1)
    else:
         print("enter a valid number : ")
Collatz(1)
Collatz(10)

QUESTION 5:

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [ ]:
def bin(n):
    if n<2:
        return (n)
    else:
        return (n%2 + 10 *(bin(int(n//2))))

print(bin(0))
print(bin(1))
print(bin(5))
print(bin(9))

QUESTION : 6

In [ ]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

var='False'

class HeadingParser(HTMLParser):  
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            global var
            var = "True" 
    def handle_endtag(self, tag):
        if var == "False":
            print("")
    def handle_data(self, data):
        if var == "True":
                
            print(data)

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
linkparser = HeadingParser() 
linkparser.feed(content)

QUESTION : 7

In [ ]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen


class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
       
    def webdir(url,depth,indent):
        url = ''
        depth=2
        indent=0

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        print(absolute)
                       
url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.webdir(content)

QUESTION 8:

In [ ]:
 !pip install ipython-sql

In [ ]:
import sqlite3
con = sqlite3.connect('mydatabase.db')
cur = con.cursor()
cur.execute("CREATE TABLE DATA1 (City text, Country text, Season text, Temperature float, Rainfall float)")
lst=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for i in lst:
    cur.execute("INSERT INTO DATA1 VALUES (?,?,?,?,?)",i)
    con.commit()
con.close()

In [ ]:
con = sqlite3.connect('mydatabase.db')
cur = con.cursor()
cur.execute('SELECT * FROM DATA1')
for i in cur :
    print(i)
    #cur.fetchall()

QUESTION 8a:All the temperature data.

In [ ]:
cur.execute('SELECT Temperature FROM DATA1')
cur.fetchall()

8b:All the cities, but without repetition.

In [ ]:
cur.execute('SELECT DISTINCT City from DATA1');
cur.fetchall()

8c:All the records for India.

In [ ]:
cur.execute('SELECT * FROM DATA1 WHERE Country ="India" ')
cur.fetchall()

8d :  All the Fall records.

In [ ]:
cur.execute('SELECT * FROM DATA1 WHERE Season="Fall" ')
cur.fetchall()

8e:The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
cur.execute('SELECT City,Country,Season FROM DATA1 WHERE Rainfall BETWEEN 200 AND 400 ')
cur.fetchall()

8f:The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
cur.execute('SELECT City,Country FROM DATA1 WHERE Season="Fall" AND Temperature>20 ORDER BY Temperature ASC  ')
cur.fetchall()

8g:The total annual rainfall for Cairo.

In [ ]:
cur.execute('SELECT SUM(Rainfall) FROM DATA1 WHERE Country="Cairo" ')
cur.fetchall()

8h:The total rainfall for each season.

In [ ]:
cur.execute('SELECT SUM(Rainfall) FROM DATA1 GROUP BY Season ')
cur.fetchall()

QUESTION 9(a):

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst =[]
for i in words:
    a=i.upper()
    lst.append(a)
print(lst)

QUESTION 9(b):

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst =[]
for i in words:
    a=i.lower()
    lst.append(a)
print(lst)

QUESTION 9(c):

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst =[]
for i in words:
    a=len(i)
    lst.append(a)
print(lst)

QUESTION 9(d):

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst =[]
for i in words:
    a=[i.upper(), i.lower(),len(i)]
    lst.append(a)
print(lst)

QUESTION 9(e):

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lst =[]
for i in words:
    if len(i) >=4:
        lst.append(i)
print(lst)